.reset {
	width: 10%;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	background-color: #1565c0;
    padding: 15px;
    margin-left: 50px;
}

.reset:hover {
    background-color: #448aff;
}
